/*-- scss:uses --*/
/*-- scss:rules --*/

.snt-theme body {
  background-color: #fdfaf5;
}

.snt-theme main.content {
  background-color: #e7d8d8;
  border-radius: 12px;
  padding: 1.5rem;
}

/* -------- Boîte DOC -------- */

.boitedoc {
  border-radius: .55rem!important;
  overflow: hidden;
  margin-bottom: 2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.boitedoc .titre {
  background-color: #003366;
  color: white;
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 1.1em;
}

.boitedoc .contenu {
  background-color: #e6f0ff;
  color: #222;
  padding: 1.2em 1.5em;
  font-size: 1em;
}


.boitebilan {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.boitebilan .titre {
  background-color: #990000;
  color: white;
  padding: 0.6em 1em;
  font-weight: bold;
  font-size: 1.1em;
}

.boitebilan .contenu {
  background-color: #ffe6e6;
  color: #222;
  padding: 1.2em 1.5em;
  font-size: 1em;
}

.competence {
  position: relative;
  padding-left: .25em;
  margin-left: 45px;
  border-left: solid 2px;
}


/* règle commune à tous les logos */
[class^="fav_"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2.5em;     /* largeur */
  height: 2.5em;    /* hauteur */
  vertical-align: middle;
}

/* chaque logo */
.fav_analyser        { background-image: url("../image/fav_analyser.png"); }
.fav_autonomie       { background-image: url("../image/fav_autonomie.png"); }
.fav_binome          { background-image: url("../image/fav_binome.png"); }
.fav_cerveau         { background-image: url("../image/fav_cerveau.png"); }
.fav_cle             { background-image: url("../image/fav_cle.png"); }
.fav_comprehension   { background-image: url("../image/fav_comprehension.png"); }
.fav_decouverte      { background-image: url("../image/fav_decouverte.png"); }
.fav_groupe          { background-image: url("../image/fav_groupe.png"); }
.fav_information     { background-image: url("../image/fav_information.png"); }
.fav_idee            { background-image: url("../image/fav_idee.png"); }
.fav_histoire        { background-image: url("../image/fav_histoire.png"); }
.fav_reinvesitssement2 { background-image: url("../image/fav_reinvestissement2.png"); }
.fav_validation      { background-image: url("../image/fav_validation.png"); }